:javascript
	var token =''
	$.ajax({
		url: '/token',
		dataType: 'json',
		success: (data) => {
			token = data.access_token
			console.log(token)
		}
	});

	$.ajax({
		url: '/token',
		dataType: 'json',
		success: (data) => {
			token = data.access_token
			console.log(token)
		}
	});

