<!DOCTYPE html>
<html>
  <head>
    <title>TravelExpress</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="test">
      <%= yield %>
    </div>
  </body>
</html>
